@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.chapter-name {
	list-style-type: none;
	font-size: 1.5rem;
	margin: 1.5rem;
	transition: all 0.3s;

	&:hover {
		color: $color-primary;
	}
}

.section-ncert-solutions {
	@include section-padding;

	margin: 4rem 0;

	&__background {
		width: 80%;
		margin-top: 2rem;
		padding: 2rem;

		&:hover {
			transform: none !important;
		}
	}

	&__tabs > div > span {
		background-color: $color-primary !important;
	}

	&__tab {
		color: $color-primary !important;
		font-size: 1.5rem !important;
	}

	ul {
		margin-top: 4rem;
	}
}
