@import '../../../../styles/variables';

.class-section {
	margin-top: 10rem;
	padding: 4rem 8rem;
	background-color: $color-secondary-light-1;

	&__link {
		text-decoration: none;
		color: currentColor;
	}

	&__class {
		margin-top: 5rem;
		display: grid;
		grid-gap: 5rem;
		justify-items: center;
		grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	}
}
