@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.class-section {
	@include section-padding;
	@include section-margin;

	padding-top: 4rem !important;
	padding-bottom: 4rem !important;
	background-color: $color-secondary-light-1;

	&__link {
		text-decoration: none;
		color: currentColor;
	}

	&__class {
		@include grid-3-column;
	}
}
