$color-white: #fff;
$color-black: #000;
$color-primary: #6a5eb2;
$color-primary-dark: #4f4389;
$color-primary-light: #dce6f2;

$color-secondary: #5cadff;
$color-secondary-light-1: #f2f9ff;
$color-secondary-light-2: #c2e1ff;

$border-radius-sm: 0.8rem;
$border-radius-md: 2rem;

$shadow-primary: 5px 4px 4px rgba($color-black, 0.1);
$shadow-secondary: 3px 3px 4px 4px rgba($color-black, 0.05);
