*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* font-size: 62.5%; 1rem = 10px */
	font-size: 70%; /* 1rem = 11px */
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-thumb {
	background-color: #6b5eb28f;
	/* background-color: rgba(#6a5eb2, 0.4); */
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #6b5eb2dc;
}

::-webkit-scrollbar-thumb:active {
	background-color: #6b5eb2c7;
}
