@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.connect-section {
	@include section-padding;

	margin: 10rem 0;

	&__container {
		display: flex;
		justify-content: space-evenly;
		margin-top: 5rem;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&-form {
		box-shadow: $shadow-secondary;
		padding: 3rem;

		&__alert {
			margin: 2rem 0;
		}

		&__heading {
			margin-bottom: 2rem !important;
		}

		&__input {
			margin-bottom: 3rem !important;

			label {
				background-color: $color-white;
			}
		}
	}
}
