@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.testimonial-section {
	@include section-padding;
	@include section-margin;

	&__testimonials-container {
		@include grid-3-column;
	}

	&__stars {
		margin-top: 2rem !important;
	}

	&__star {
		stroke: $color-primary !important;

		&--filled {
			fill: $color-primary !important;
		}

		&--unfilled {
			fill: $color-secondary-light-2 !important;
		}
	}

	&__name {
		margin-top: 2rem;
	}
}
