@import '../../../styles/mixins';
@import '../../../styles/variables';

.my-account-section {
	@include section-padding;

	margin: 5rem 0;

	&__alert {
		margin-bottom: 2rem !important;
	}
}

/* ---------------------------------- modal --------------------------------- */

.my-account-section-modal {
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__input {
		label {
			background-color: $color-white;
		}
	}

	&__btn {
		margin-top: 2rem !important;
	}
}

/* ----------------------------------- top ---------------------------------- */

.my-account-section-top {
	&__name {
		font-size: 2.5rem !important;
		margin-bottom: 1rem !important;
	}

	&__class {
		font-size: 2rem !important;
		font-weight: 300 !important;
		margin-bottom: 1rem !important;
	}

	&__logout {
		font-size: 2rem !important;
		color: $color-primary;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			color: $color-primary-dark;
		}
	}
}

/* --------------------------------- bottom --------------------------------- */

.my-account-section-bottom {
	margin-top: 5rem;
}

.my-account-section-form {
	@media screen and (max-width: 540px) {
		width: 80%;
	}

	div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		@media screen and (max-width: 540px) {
			flex-direction: column;
			justify-content: center;
			padding: 0 1rem !important;
		}
	}

	&__input {
		@media screen and (max-width: 540px) {
			margin-top: 2rem !important;
		}

		&:not(:last-of-type) {
			margin-right: 2rem !important;

			@media screen and (max-width: 540px) {
				margin-right: 0 !important;
			}
		}

		input {
			font-size: 2rem !important;
		}

		label {
			font-size: 2rem !important;
			background-color: $color-white !important;
		}
	}

	&__select {
		font-size: 2rem !important;

		&-label {
			font-size: 2rem !important;
		}
	}

	&__btn {
		margin-top: 2rem !important;
	}
}

.MuiMenuItem-root {
	font-size: 2rem !important;
}
