@import '../../../styles/variables';

.footer {
	display: flex;
	justify-content: space-between;
	background-color: $color-secondary-light-1;
	padding: 3rem 8rem;

	@media screen and (max-width: 540px) {
		flex-direction: column;
		align-items: center;
	}

	/* ---------------------------------- left ---------------------------------- */

	&__left {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (max-width: 540px) {
			margin-bottom: 2rem;
		}
	}

	&__logo {
		height: 10rem;
		width: 10rem;
	}

	&__para {
		width: 40ch;
		text-align: left !important;

		@media screen and (max-width: 690px) {
			width: 30ch;
		}

		@media screen and (max-width: 540px) {
			width: 40ch;
			text-align: center !important;
		}
	}

	/* ----------------------------------- mid ---------------------------------- */

	&__nav {
		list-style: none;

		@media screen and (max-width: 540px) {
			margin-bottom: 2rem;
		}

		&-item {
			font-size: 2rem;
			cursor: pointer;
			transition: all 0.3s;

			a {
				text-decoration: none;
				color: currentColor;
			}

			&:hover {
				color: $color-primary;
				transform: translateY(-0.2rem);
				text-shadow: $shadow-primary;
			}

			&:not(:last-of-type) {
				margin-bottom: 2rem;
			}

			&::before {
				content: '>';
				margin-right: 1rem;
			}
		}
	}

	/* ---------------------------------- right --------------------------------- */

	&__right {
		display: flex;
		flex-direction: column;
		align-items: center;

		svg {
			height: 3rem;
			width: 3rem;
			cursor: pointer;
			transition: all 0.3s;

			&:hover {
				fill: $color-primary;
				transform: translateY(-0.2rem);
				text-shadow: $shadow-primary;
			}

			&:not(:last-of-type) {
				margin-bottom: 2rem;
			}
		}
	}
}

.footer-fixed {
	position: absolute !important;
	bottom: 0 !important;
	width: 100% !important;
}
