.hero-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 5rem;
	padding: 0 8rem;

	&__img {
		height: 50rem;

		img {
			height: 100%;
			width: 100%;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__heading {
		line-height: 8rem !important;
	}

	&__sub-heading {
		margin-top: 2rem !important;
	}

	&__btn {
		text-decoration: none;
		align-self: flex-end;
		margin-top: 2rem !important;
		margin-right: 2rem !important;
	}
}
