.feature-section {
	position: relative;
	display: flex;
	margin-top: 10rem;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: 10%;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 8rem;
		margin: 4rem 0;
	}

	&__btn {
		text-decoration: none;
		width: fit-content;
	}

	&__img {
		position: absolute;
		right: -10rem;
		height: 60rem;

		img {
			height: 100%;
		}
	}
}
