@import '../../../styles/variables';
@import '../../../styles/utilities';

.header {
	border-bottom: 1px solid $color-primary;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 8rem;

	&__logo {
		height: 9rem;
		width: 9rem;
		transform: translateX(-1rem);

		img {
			height: 100%;
			width: 100%;
		}
	}

	&__link {
		text-decoration: none;
	}
}

.nav-list {
	display: flex;
	align-items: center;
	justify-content: auto;
	list-style: none;

	&__item {
		position: relative;
		cursor: pointer;
		width: max-content;
		transition: all 0.3s;
		font-size: 1.7rem;
		margin-right: 2rem;

		&:hover {
			color: $color-primary;
		}

		div {
			display: flex;
			align-items: center;
		}

		svg {
			fill: currentColor;
			margin-left: 0.25rem;
		}
	}

	&__dropdown {
		margin-top: 1rem;
		position: absolute;
		width: 10rem;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		color: $color-black;
		background-color: $color-white;
		list-style: none;
		box-shadow: $shadow-primary;

		&-item {
			border-bottom: 0.5px solid $color-primary;

			&:first-child {
				margin-top: 0;
			}

			margin-top: 0.25rem;
			padding: 0.25rem 0.5rem;
			transition: all 0.2s;

			a {
				text-decoration: none;
				color: currentColor;
				width: 100%;
			}

			&:hover {
				background-color: rgba($color-black, 0.03);
				color: $color-primary;
			}
		}
	}
}
